<div className="form-group">
    <div>
        <select id="rates-onboarding-currencyCode" className="form-control currency-select">
            <option value=""></option>
            <option value="AUD">Australian Dollar (AUD)</option>
            <option value="EUR">Euros (EUR)</option>
            <option value="GBP">Great British Pound (GBP)</option>
            <option value="USD">US Dollar (USD)</option>
            <option value="CAD">Canadian Dollar (CAD)</option>
            <option value="NZD">New Zealand Dollar (NZD)</option>
            <option value="BRL">Brazil Real (BRL)</option>
        </select>
    </div>
</div>