<div className="row">
    <div className="col-sm-2">
        <div className="summary-subtitle summary-subtitle--description">
            About the property
        </div>
    </div>
    <div className="property-description-wrapper  col-sm-10" data-overlay-id="property-description-wrapper-loader">
        <div className="property-description js-summarySection ">
            <h3>Completely Private, Highly Upgraded Unit, Minutes to Energy Centers of San Diego</h3>
            <div className="prop-desc-txt">
                <div className="preview">
                    <p>Located in a Historic District on the Slope above Downtown San Diego, this beautiful Queen Ann
                        Victorian accommodates up to 6 guests. This unit is completely private with a separate entry,
                        living space, 2 bedrooms, 2 bathrooms, full kitchen, living room, kitchen nook, living area and
                        patio with private BBQ and patio table and chairs. No expense was spared in the design of this
                        highly upgraded unit which features views of the Ocean, Coronado Bridge and the islands off the
                        coast from the property's front porch. No expense was spared in the layout and design of this
                        unit which is modern classNameic. The living area features a Queen size leather pull-out sofa bed,
                        large LED smart TV, dining table and chairs and ceiling fan. The kitchen is beautifully
                        upgraded complete with everything you will need to cook your own meals during your stay with
                        us. The bathrooms are brand new and equipped with plenty of plush towels, shampoo, conditioner,
                        body wash and a blow dryer. There are Queen size beds in each of 2 separate bedrooms. Both
                        Queen beds have memory foam mattresses which are very comfortable. Each bedroom also has a
                        vertical fan, in-wall air conditioner and a high definition LED smart TV with cable access and
                        streaming capability. All 3 televisions have free Netflix access provided free to our Guests.
                        Our property is located just minutes driving distance to the Convention Center, Gas Lamp
                        district, Ball Park, Coronado Island, the Airport, Balboa Park and the Zoo. Freeway access is
                        located around the corner and bus stop transits to and from downtown can be found within a
                        block. All local beaches are within easy driving distance of the property. Some of Golden
                        Hill’s most popular spots such as the Turf Club, Panchitas Bakery, Krakatoa Coffee Shop,
                        Luigi's Pizza and Golden Hill Park are all within easy walking distance. Enjoy a morning cup of
                        coffee and Coronado Bay Bridge views from the patio table and chairs provided on the front
                        porch or BBQ on your own private patio. There is an on-site laundry so check for the coins,
                        laundry detergent and fabric softener tissues we provide in the unit as a complimentary gift
                        and our way of saying thank you. Enjoy these beautiful and unique accommodations while
                        experiencing all the best that San Diego has to offer.</p>
                </div>
                <div className="js-descriptionCollapse collapse">
                    <p>Instant Booking - This unit has a Queen size bed in each of 2 separate bedrooms. Both beds have
                        memory foam mattresses. There is additionally a Queen size pull out sofa bed in the living
                        area. While this unit is designed to accommodate 6 Guests, it could be a bit challenging if
                        they are all adults. We want to be sure this arrangement will be comfortably accommodate your
                        group.</p>
                </div>
            </div>
            <a data-toggle="collapse" className="js-descriptionCollapseText" data-target=".js-descriptionCollapse" href="javascript:;">
                More Details
            </a>
        </div>
    </div>
</div>