/* Edit Profile*/
#layout>.loader-section {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  body {
    font-family: 'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: #323f4d;
    background-color: #fff;
}


  .edit-profile-nav {
    background: #fff;
    border-bottom: 1px solid #d3d8de;
    margin-bottom: 20px;
    box-shadow: 0 7px 9px -7px rgba(0,0,0,0.1);
  }
  .visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none!important;
  }
  
  body {
    font-family: 'Lato','Roboto','Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: #323f4d;
    background-color: #fff;
  }
  
  .stab-photo-cropper-container-mobile {
    z-index: 700;
  }
  
  .profile-header {
    margin-bottom: 40px;
  }
  
  .profile-header .profile-header-photo {
    margin: 0 auto;
    position: relative;
    width: 100px;
  }


  .profile-header .profile-header-photo .profile-user-photo {
    border: 1px solid #d3d8de;
    overflow: hidden;
}
  .profile-header .profile-header-photo .btn-edit-photo {
    position: absolute;
    bottom: -18px;
    left: 29px;
  }

  .profile-header .profile-header-photo .profile-user-photo .user-photo {
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

  .btn {
    min-height: 48px;
  }
  .btn-icon-circle {
    border-radius: 50%;
  }
  
  .btn-icon, .btn-icon-circle {
    width: 48px;
    height: 48px;
    line-height: 48px;
    padding: 0;
  }
  
  .btn-default {
    background-color: #fff;
    border-color: #d3d8de;
    color: #0067db;
    text-shadow: none;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    line-height: 24px;
  }
  
  .profile-header .user-name {
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .text-muted {
    color: #5e6d77;
  }
  
  p {
    margin: 0 0 16px;
    line-height: 1.5rem;
  } 
  
  @media (min-width: 768px) {
    .col-sm-8 {
      width: 66.66666667%;
  }
  }
  
  @media (min-width: 768px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
  }
   .profile-form-container {
    margin-bottom: 20px;
  } 
  .section-with-border.no-bottom-padding {
    padding-bottom: 0;
  }
  
  @media (min-width: 768px){
    .section-with-border {
      background-color: #fff;
      border: 1px solid #d3d8de;
      margin-bottom: 20px;
      min-height: 50px;
      padding: 30px 15px;
    }
  } 
  
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .section-header {
    margin: 0 0 30px;
  }
  .h3 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    line-height: 2rem;
  }
  @media (min-width: 768px)
  {
    .col-sm-4 {
      width: 33.33333333%;
    }
  }
  
  @media (min-width: 768px)
  {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
  }
  .facebook-import-link {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
  }
  a {
    color: #0067db;
    text-decoration: none;
    font-weight: 400;
  }
  a {
    background-color: transparent;
  }
  .social-icon {
    background: #3b5998;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin-left: 5px;
    width: 26px;
  }
  .img-circle {
    border-radius: 50%;
  }
  .icon-facebook:before {
    content: "\f12c";
  }
  *::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-group {
    margin-bottom: 16px;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    color: #5e6d77;
  }
  input.form-control, textarea.form-control {
    background-image: -webkit-linear-gradient(#0067db,#0067db);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0067db),to(#0067db));
    background-image: -o-linear-gradient(#0067db,#0067db);
    background-image: linear-gradient(#0067db,#0067db);
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position: center bottom,center -webkit-calc(100% - 1px);
    background-position: center bottom,center calc(100% - 1px);
    -webkit-transition: background .3s ease-out,box-shadow .3s ease-out,border-color ease-out .15s,border-width ease-out .15s,padding ease-out 50ms;
    -o-transition: background .3s ease-out,box-shadow .3s ease-out,border-color ease-out .15s,border-width ease-out .15s,padding ease-out 50ms;
    transition: background .3s ease-out,box-shadow .3s ease-out,border-color ease-out .15s,border-width ease-out .15s,padding ease-out 50ms;
  }
  textarea.form-control {
    height: auto;
    resize: none;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 56px;
    padding: 15px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: #323f4d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: none;
    outline: 0;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  #mediated-sms-preference .switch {
    margin-left: 15px;
  }
  .switch {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .switch input {
    opacity: 0;
    position: absolute;
  }
  input[type='radio'], input[type='checkbox'] {
    margin: 3px 0 0;
    height: 1.1em;
    width: 1.1em;
    line-height: normal;
  }
  input[type='checkbox'], input[type='radio'] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .switch input+label {
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    width: 80px;
    height: 40px;
    background-color: #adb2b8;
    -webkit-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
}
  
  .switch input+label .switch-checked {
    opacity: 0;
  }
  .switch .switch-checked {
    margin-left: 8px;
  }
  .switch .switch-checked {
    margin-left: 10px;
  }
  .switch svg {
    fill: #fff;
    font-size: 20px;
    height: 40px;
    position: absolute;
    -webkit-transition: opacity 50ms ease-in-out;
    -o-transition: opacity 50ms ease-in-out;
    transition: opacity 50ms ease-in-out;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  .inline-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  .switch .switch-toggle {
    top: 0;
  }
  .switch .switch-toggle {
    background: #fff;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    left: 0;
    margin: 5px;
    position: absolute;
    -webkit-transition: left 200ms ease-in-out;
    -o-transition: left 200ms ease-in-out;
    transition: left 200ms ease-in-out;
  }
  .switch .switch-toggle::before {
    position: absolute;
    display: block;
    content: '';
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,103,219,0.4);
    opacity: 0;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    pointer-events: none;
  }
  #mediated-sms-preference .col-md-7 {
    line-height: 1.2em;
  }
  
  .pull-left {
    float: left!important;
  }
  -sms-preference .sms-pref-title {
    font-weight: 700;
    display: block;
  }
  #mediated-sms-preference .sms-pref-info {
    font-size: 12px;
  }
  .input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
  }
  .input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
  }
  .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group {
    margin-right: -1px;
  }
  .dropdown-toggle.btn-default {
    border-color: #d3d8de;
    color: #323f4d;
  }
  .dropdown-toggle:not(.btn-link) {
    padding: 11px 16px;
    line-height: 32px;
    border-radius: 4px;
  }
  .input-group-btn>.btn {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  } 

  i[class^='flag-']::after, i[class*='flag-']::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    height: 16px;
    margin-top: 4px;
    margin-left: 1px;
    width: 22px;
    border: 1px solid #d1d1d1;
    border-color: rgba(0,0,0,0.2);
    display: block;
}
  .btn {
    min-height: 48px;
  }
  .phone-number-input .btn i {
    height: 19px;
}
.phone-number-input .has-icon .form-control-icon {
    top: -2px;
    left: 15px;
    z-index: 3;
}
.has-icon .form-control-icon {
    color: #a0a9b2;
    position: absolute;
    top: -2px;
    left: 16px;
    z-index: 2;
    display: block;
    text-align: left;
    line-height: 56px;
    pointer-events: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.phone-number-input .form-control.cc-length-1 {
    padding-left: 40px;
}
.phone-number-input .form-group {
    margin-bottom: 0;
}
.has-icon {
    position: relative;
    z-index: 0;
}
.phone-number-input .dropdown-menu {
    margin-top: -1px;
    height: 200px;
    overflow-y: scroll;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    visibility: hidden;
    float: left;
    min-width: 175px;
    padding: 5px 0;
    margin: 8px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.1);
    background-clip: padding-box;
    opacity: .3;
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform: scale(1,0);
    overflow: hidden;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:not(:first-child), .input-group .input-group-wrapper:not(:first-child)>.form-control, .input-group-addon:not(:first-child), .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle, .input-group-btn:not(:last-child)>.btn:not(:first-child), .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.flag-us {
    background-position: -288px -48px;
}
[class^='flag-'], [class*=' flag-'] {
    background-image: url(//csvcus.homeaway.com/rsrcs/baseline/3.15.1/images/flag.png);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 20px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: -4px;
} 
.icon-chevron-down:before {
    content: "\f118";
}
*::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropdown-toggle.btn-default .caret, .dropdown-toggle.btn-default .icon-chevron-down {
    color: #0067db;
}
.dropdown-toggle:not(.btn-link) .icon-chevron-down, .dropdown-toggle:not(.btn-link) .svg-chevron-down {
    width: 16px;
    margin-left: 8px;
}
  .section-with-border.margin-bottom {
    margin-bottom: 20px;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: #005dc5;
    border-color: #005dc5;
    color: #fff;
    text-decoration: none;
}